<?php
/**
 * @var App\Form\UrlForm $form
 * @var System\Form\Field $url
 * @var System\Form\Field $shorturl
 */
$url = $form->getField('url');
$shorturl = $form->getField('shorturl');
$submitButton = $form->getField('go');
?>
<form action="<?php echo $form->getAction()?>" method="post">
    <table>
        <tr>
            <th>Long URL</th>
            <th>Short URL</th>
        </tr>
        <tr>
            <td>
                <input type="<?php echo $url->getType() ?>" name="<?php echo $url->getName()?>" value="">
                <input type="<?php echo $submitButton->getType() ?>" name="<?php echo $submitButton->getName() ?>" value="<?php echo $submitButton->getValue()?>">
                <span class="error"><?php echo implode('<br>', $form->getMessages())?></span>
            </td>
            <td id="result">
                <?php echo $shorturl->getValue() ?>
            </td>
        </tr>
    </table>
</form>