<?php
$config = $this->kernel->getConfig();
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <title><?php echo $config['application']['name'] ?></title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
</head>
<body>
<div class="content">

    <header><?php echo $config['application']['name'] ?></header>

    <?php echo $this->content ?>

    <footer>
            &copy; 2016 Aleksandr Volkov

    </footer>
</div>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
